[mysqld]
log_error                       = /var/log/mysql/error.log

log_queries_not_using_indexes   = 1     # Disabled on production
long_query_time                 = 5
slow_query_log                  = 1     # Disabled on production
slow_query_log_file             = /var/log/mysql/slow.log

expire_logs_days    = 5
max_binlog_size         = 100M
